<md-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>
  <span>{{title}}</span>

  <span class="app-toolbar-filler"></span>

  <nav>
    <a *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active">Connexion</a>
    <a *ngIf="!isLoggedIn()" routerLink="/subscribe" routerLinkActive="active">Inscription</a>
    <button class="app-icon-button" *ngIf="isLoggedIn()" (click)="logout()">
      <i class="material-icons app-toolbar-menu">power_settings_new</i>
    </button>
  </nav>
</md-toolbar>
